{{ if .Values.networkPolicy.enabled }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "cosignwebhook.fullname" . }}
  labels:
    {{- include "cosignwebhook.labels" . | nindent 4 }}
spec:
  ingress:
  - ports:
    - port: {{ .Values.service.metricPort }}
      protocol: TCP
    - port: {{ .Values.service.targetPort }}
      protocol: TCP
  podSelector:
    matchLabels:
    {{- include "cosignwebhook.selectorLabels" . | nindent 6 }}
  policyTypes:
  - Ingress
{{ end }}
